.vscode
godot-cpp/**
**.os
.godot
**.so
**.uid
**.dblite
export_presets.cfg
.editorconfig
.gitattributes
*.import
CMakeFiles/
build/
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
kjb3_0xflash_results_backup.csv
